body {
    background-color: rgb(255, 255, 255);
    margin: 25px;
    text-align: center;
    align-content: center;
    padding: 100px;
}

div {
    margin: auto;
    width: 50%;
    padding: 15px;
    width: 300px;
    box-align: center
}

div title {
    width: 50%;
    padding: 15px;
    width: 300px;
    box-align: center
}

p { 
    font-family: Consolas;
    color: #F9D1D1;
}

h1 { 
    font-family: Consolas;
    color: #F765A3;
    text-align: left;
}

h2 { 
    font-family: Consolas;
    color: #F765A3;
    
}

h4 {
    font-family: Consolas;
    color: #F765A3;
}

/*Päävalikko*/
nav a {
    font-family: Consolas;
    text-align: center;
    display: inline-block;
    font-size: large;
    padding: 15px;
    color: #a385e4;
}