body {
    background-color: rgb(255, 255, 255);
    margin: 25px;
    
}

p { font-family: Consolas;

}

h1 { font-family: Consolas;
    color: #F765A3;
}

h2 { font-family: Consolas;
    color: #A155B9;
}